body {
    font-family: Arial, sans-serif;
    background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2013/06/22/14/Facebook-AFP.jpg);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
 

}

.container {
    display: flex;
    background-color: #ebe71ed5;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    width: 400px;
}

.left {
    padding: 20px;
    background-color: #49a5139d;
    color: #fff;
    text-align: center;
}

.right {
    padding: 20px;
}


form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #1877f2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    margin-top: 5px;
}

hr {
    border: 0.5px solid #ddd;
    margin: 10px 0;
}
